@import "tailwindcss";

h1 {
    @apply text-xl md:text-2xl lg:text-3xl font-extrabold mb-4;
}

h2, h3 {
    @apply text-lg md:text-xl lg:text-2xl font-bold mb-2;
}

p {
    @apply text-sm md:text-lg lg:text-xl mb-4;
}