@import "tailwindcss";

html {
  font-family: 'Inter', sans-serif;
}

h1 {
    @apply text-3xl sm:text-4xl lg:text-5xl font-bold leading-tight mb-4;
}

h2 {
    @apply text-2xl sm:text-3xl lg:text-4xl font-semibold leading-snug mb-4;
}

h3 {
    @apply text-xl sm:text-2xl lg:text-3xl font-semibold leading-snug mb-2;
}

p {
    @apply text-base sm:text-lg leading-relaxed mb-4;
}

button {
    @apply text-sm sm:text-base font-medium;
}